<html>
<head>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
</head>
<body>
    <table class="default" align="center" style="width:40%">
        <tr style="background: rgba(27, 12, 238, 0.3);">
            <th colspan="3">POCHEMONS</th>
        </tr>
        <tr style="background: rgba(255, 128, 0, 0.3);" > 
            <th >ID</th>
            <th>NOMBRE</th>
            <th>IMAGEN</th>
        </tr>
        <% pokemons.forEach(function(item) { %>
        <tr>
            <td><%=item.id%></td>
            <td><a href="<%=item.url%>"><%=item.name%></td>
            <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%=item.id%>.png"></td>
            <% }); %>
        </tr>
        
    </table>

</body>
</html>